@import "../../../theme/theme-variables.scss";

:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

label {
  display: inline-table;
}

label.form-check-label {
  position: relative;
  top: 25px;
}

input:not([type="image"]):not([type="checkbox"]) {
  font-size: 0.8rem;
  padding-left: 0.4em;
  height: 25px;
  width: 19.5rem;
}

input[type="image"] {
  border-radius: 240px;
}

#tabs {
  #nav-tab {
    border: 1px solid $blue;
    border-radius: 4px;

    .nav-item.active,
    .nav-item:hover {
      background-color: $blue;
      color: $white;
    }
  }

  #nav-tabContent {
    border: 1px solid #001042;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    fieldset.form-column {
      max-width: 41.3%;
    }

    fieldset.form-column:not(:first-child),
    fieldset.form-column:not(:last-child) {
      margin: 0 0.1rem;
    }
  }
}

.middle-container {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $blue;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $blue;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
