@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: green !important;
}

.text-search {
  background-color: transparent;
  .card {
    background-color: transparent;
    border: none;
  }
}

.col {
  padding: 0 !important;
}
